manifest {
    name            = 'nf-debug/contents'
    author          = """vinay kaikala"""
    homePage        = 'https://github.com/vinay-ebi/nf-debug'
    description     = """Ensembl Datafile Generation Pipeline For MVP"""
    mainScript      = 'main.nf'
    nextflowVersion = '>=22.04.5'
    version         = '1.0.0'
    doi             = ''
}
